/*========================================================
        DARK LAYOUT
=========================================================*/
.bg-authentication {
    background-color: #eff2f7;
}


.form-label-group>input:not(:placeholder-shown)~label,
.form-label-group textarea:not(:placeholder-shown)~label {
    padding: 4px 0;
    font-size: 13px;
    top: -22px;
    left: 0px;
}

.bg-authentication .login-footer {
    padding: 0rem 1.5rem 0.5rem;
}

.bg-authentication .login-footer .footer-btn .btn {
    padding: 0.9rem 1.2rem !important;
    margin: 1rem 1rem 1rem 0rem;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .bg-authentication {
        width: 100%;
    }
}
