.main-menu .navbar-header .navbar-brand .brand-text {
    color: #7367f0;
    padding-left: 1rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
    font-size: 1.47rem;
    animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
}
